# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
pids
logs
results
public/libs

# Docker
Dockerfile
docker-compose.yml

#I don't know
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
